<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
  <meta name="author" content="김성태 법무사">

  {% include head.html %}
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
